<!DOCTYPE html>
<html>
<head>
	<title>About me</title>
</head>
<body>
<h1><center>I am Khine Zar!</center></h1>
<center>
<%= image_tag 'me.jpg' %>
</center>
<%= link_to 'Home',root_path %>
</body>
</html>