<!DOCTYPE html>
<html>
<head>
	<title>Alpha Blog Home </title>
</head>
<body>
<h1><center>Welcome to my home page</center></h1>
<center><%= image_tag 'shifu.jpg' %></center>
<%= link_to 'About',about_path %>
</body>
</html>