$navbar-default-bg: green;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{

	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;

}
#logo:hover{
	color: #fff;
	text-decoration: none;
}

.center{
	text-align: center;
}
.jumbotron{
	background-image: asset-url('shifu.jpg');
	background-size: cover;
	height: 500px;
}
.jumbotron h1{
	color: #009900;
	text-align: left;
	margin-bottom: 330px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge{
	font-size: 1.7em;
	background-color: green;
}

.article-action{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}
.description{
	margin-top:0;
}


footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
footer a:hover{
	color: #222;
}
footer small{
	float: left;
}
footer ul{
	float: right;
	list-style: none;
}
footer li{
	float: left;
	margin-left: 15px;
}



